.file_upload {
	padding: 20px;
}

.code {
	font-size: 1.2em;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #000;
	color: #3f3;
	padding: 20px;
	overflow: auto;
}

.loader {
	display: none;
	text-align: center;
}

.jumbotron, .navbar, .well, .btn, .label, input, pre {
	border-radius: 0px !important;
}

.header {
	margin-bottom: 0px !important;
}

.clear {
	float: right;
	position: relative;
	bottom: 35px;
}

#logo {
	position: relative;
	bottom: 15px;
}

.debug {
	display: none;
	margin-top: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
