<!DOCTYPE html>
<html>
<head>
    <title>Python Assignment Testing</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
</head>
<body>

    <div class="container">

        <!-- website greeting -->
        <div class="jumbotron header">
            <h1>
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"> 
                Python Assignment Testing
            </h1>
        </div>

        <!-- website navigation -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="">Testing</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </a></li>
                        <li><a href="/results"> 
                            <span class="glyphicon glyphicon-stats"></span> Results
                        </a></li>
                        <li><a href="">
                            <span class="glyphicon glyphicon-info-sign"></span> How To
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- upload form -->
        <div class="well file_upload">
            <form action='/upload' method='post' enctype='multipart/form-data'>
                <div class="form-group">
                    <label for="file">File</label>
                    <input type="file" name="file" id="file">
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt"></span> Upload
                </button>
            </form> 
            <a href="/clear">
                <button class="btn btn-danger clear">
                    <span class="glyphicon glyphicon-remove-sign"></span> Clear
                </button>
            </a>
        </div>

        <div id="animation" class="loader">
            <br><img src="static/img/loading.gif" alt="loading.gif">
        </div>

        {% if session %}
            <div class="results">
                
                <!-- test results -->
                <div class="well clearfix">
                    <h4 class="col-sm-3">
                        <span class="glyphicon glyphicon-list-alt"></span> 
                        Total: {{ session.output.total }}
                    </h4>
                    <h4 class="col-sm-3">
                        <span class="glyphicon glyphicon-ok"></span> 
                        Passed: {{ session.output.passed }}
                    </h4>                        
                    <h4 class="col-sm-3">
                        <span class="glyphicon glyphicon-remove"></span> 
                        Failed: {{ session.output.failed }}
                    </h4>
                    <h4 class="col-sm-3">
                        <span class="glyphicon glyphicon-warning-sign"></span> 
                        Errored: {{ session.output.errored }}
                    </h4>
                </div>

                <div class="well clearfix">
                    <h3><span class="glyphicon glyphicon-wrench"></span> Debug</h3>

                    <!-- test details -->
                    <div class="debug">
                        <table class="tests table table-striped table-hover">
                            <tr>
                                <th>Test Name</th>
                                <th>Test Result</th>
                            </tr>
                            {% for test in session.output.tests %}
                                <tr>
                                    <td>{{ test.name }}</td>
                                    <td>
                                        {% if test.outcome == "Passed" %}
                                            <span class="label label-success">
                                                {{ test.outcome }} 
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </span>
                                        {% elif test.outcome == "Failed" %}
                                            <span class="label label-danger">
                                                {{ test.outcome }} 
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </span>
                                        {% elif test.outcome == "Errored" %}
                                            <span class="label label-warning">
                                                {{ test.outcome }} 
                                                <span class="glyphicon glyphicon-warning-sign"></span>
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                        <!-- simulated terminal -->
                        <pre class="code">{{ session.output.raw }}</pre>

                    </div>

                    <button id="show" class="btn btn-danger pull-right">Show</button>

                </div>
            </div>
        {% endif %}

    </div>

</body>
</html>