<!DOCTYPE html>
<html>
<head>
    <title>Python Assignment Testing</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
</head>
<body>

    <div class="container">
        <div class="jumbotron header">
            <h1><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"> Python Assignment Testing</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="">Testing</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="">Home</a></li>
                        <li><a href="/results">Results</a></li>
                        <li><a href="">How To</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="well file_upload">
            <form action='/upload' method='post' enctype='multipart/form-data'>
                <div class="form-group">
                    <label for="file">File</label>
                    <input type="file" name="file" id="file">
                </div>
                <input type="submit" value="Upload" class="btn btn-primary">
            </form> 
            <a href="/clear"><button class="btn btn-danger clear">Clear</button></a>
        </div>

        <div id="animation" class="loader">
            <br><img src="static/img/loading.gif" alt="loading.gif">
        </div>

        {% if session.output %}

            <table class="tests table table-striped table-hover">
                <tr>
                    <th>Test Name</th>
                    <th>Test Result</th>
                </tr>
                {% for test in session.output.tests %}
                    <tr>
                        <td>{{ test.name }}</td>
                        {% if test.result %}
                            <td>Passed</td>
                        {% else %}
                            <td>Failed</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

            <pre class="code">{{ session.output.raw }}</pre>
        
        {% endif %}


    </div>

</body>
</html>